.footer {
    background-color: $bgr-clr;
    padding-top: 60px;
    padding-bottom: 60px;

    &__link {
        color: $mail-tel-clr;

        &--address {
            color: $btn-clr;
            font-style: normal;
        }

        &:hover {
            color: $btn-clr
        }
    }

    &__address {
        color: $mail-tel-clr;
        font-style: normal;
    }


    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__list {
        display: block;
    }

    & .container {
        display: flex;
        gap: 70px;
        align-items: baseline;
    }
}