.header {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--brd-hero-clr);
}

.header .hover {
    transition: color var(--anim-fast);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 50px;
}

.header__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__icon {
    fill: currentColor;
    margin-right: 10px;
}