.operations {
    padding-top: 0;
}

.operations__list {
    --card-item: 3;
}

.operations__overlay-block {
    position: relative;
}

.operations__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 23px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}

.operation__text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--btn-clr);
    text-transform: uppercase;
}

.operations__img {
    display: block;
    height: auto;
}