.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: $btn-clr;
    border-radius: 4px;
    transition: transform $anim-fast;
    text-align: center;
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $btn-clr;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill $anim-fast;
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
    fill: #2196f3;
}