.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__form {
        display: flex;
        gap: 12px;
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $anim-fast;

    &:hover {
        background-color: $logo-clr;
    }

    &:focus {
        background-color: $logo-clr;
    }

    // &:hover .socials__icon {
    //     --color1: $btn-clr;
    // }

    // &:focus .socials__icon {
    //     --color1: $btn-clr;
    // }

    .footer & {
        background-color: $secondary-bgr-icon;
    }
}
.socials__icon {
    &--white {
        fill: $btn-clr;
        transition: --color1 $anim-fast;
    }

    .socials__link:hover & {
        fill: $logo-clr;
    }

    .socials__link:focus & {
        fill: $logo-clr;
    }
}