body {
    font-family: var(--main-txt-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-clr);
}

.hover:hover,
.hover:focus {
    color: var(--logo-clr);
}

.link:active {
    color: var(--logo-clr);
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 
