.header .logo {
    margin-right: 93px;
}

.logo {
    display: block;
    text-decoration: none;
    font-family: var(--secondary-txt-clr);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--logo-clr);
}

.logo--black {
    color: var(--main-text-clr);
}
.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.logo--white {
    color: var(--btn-clr);
}